@model List<ManagerService.Models.shared.PracticeType>

@{
    ViewData["Title"] = "Типы практик";
}

<h2>Список типов практик</h2>

@if (Model == null || !Model.Any())
{
    <p>Нет данных для отображения</p>
}
else
{
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdPracticeType</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
}